* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  color: #444; }

.header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-inline: 3rem; }

.nav {
  padding: 0 6rem;
  display: flex;
  height: 9rem;
  justify-content: space-between;
  align-items: center; }
  .nav__image {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
  .nav__logo {
    width: 5rem;
    height: 5rem; }
  .nav__name {
    font-size: 2.5rem; }
  .nav__list {
    list-style: none; }
  .nav__item {
    display: inline-block;
    padding-inline: 2rem;
    transition: all 0.3s; }
    .nav__item:last-child {
      background-color: #5ec576;
      padding: 1.5rem 2rem;
      border-radius: 5rem;
      color: black; }
    .nav__item:hover {
      background-color: #4bbb7d; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: 1.5rem;
    margin: 1rem; }

.hero {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
  max-width: 115rem;
  flex: 1;
  align-self: center; }
  .hero__title {
    font-size: 5.5rem;
    line-height: 1.35;
    font-weight: 600; }
  .hero__span {
    position: relative;
    display: inline-block;
    padding-inline: 0.5rem; }
    .hero__span::after {
      content: "";
      display: table;
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      height: 8rem;
      width: 100%;
      opacity: 0.7;
      background-image: linear-gradient(to top left, #39b385, #9be15d);
      transform: skewX(-10deg); }
  .hero__img {
    grid-column: 2/3;
    grid-row: 1 / span 4;
    width: 100%;
    height: auto;
    transform: translateY(-6rem); }
  .hero__slogan {
    grid-column: span 1/2;
    font-size: 2.5rem;
    font-weight: 500; }
  .hero__link {
    grid-column: span 1/2;
    border: none;
    color: #5ec576;
    padding-bottom: 2px;
    font-size: 1.7rem;
    font-weight: 500;
    border-bottom: 1px solid #5ec576; }

.header {
  height: 100vh;
  display: flex; }
