* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  color: #444; }

.title {
  max-width: 80rem;
  margin: 0 auto 8rem auto; }

.heading__secondary {
  color: #5ec576;
  font-size: 2rem;
  font-weight: 600; }

.heading__tertiary {
  font-size: 3.5rem; }

.nav {
  padding: 0 6rem;
  display: flex;
  height: 9rem;
  justify-content: space-between;
  align-items: center; }
  .nav__image {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
  .nav__logo {
    width: 5rem;
    height: 5rem; }
  .nav__name {
    font-size: 2.5rem; }
  .nav__list {
    list-style: none; }
  .nav__item {
    display: inline-block;
    padding-inline: 2rem;
    transition: all 0.3s; }
    .nav__item:last-child {
      background-color: #5ec576;
      padding: 1.5rem 2rem;
      border-radius: 5rem;
      color: black; }
    .nav__item:hover {
      background-color: #4bbb7d; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: 1.5rem;
    margin: 1rem; }

.hero {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
  max-width: 115rem;
  flex: 1;
  align-self: center; }
  .hero__title {
    font-size: 5.5rem;
    line-height: 1.35;
    font-weight: 600; }
  .hero__span {
    position: relative;
    display: inline-block;
    padding-inline: 0.5rem; }
    .hero__span::after {
      content: "";
      display: table;
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      height: 8rem;
      width: 100%;
      opacity: 0.7;
      background-image: linear-gradient(to top left, #39b385, #9be15d);
      transform: skewX(-10deg); }
  .hero__img {
    grid-column: 2/3;
    grid-row: 1 / span 4;
    width: 100%;
    height: auto;
    transform: translateY(-6rem); }
  .hero__slogan {
    grid-column: span 1/2;
    font-size: 2.5rem;
    font-weight: 500; }
  .hero__link {
    grid-column: span 1/2;
    border: none;
    color: #5ec576;
    padding-bottom: 2px;
    font-size: 1.7rem;
    font-weight: 500;
    border-bottom: 1px solid #5ec576; }

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
  margin: 0 auto; }
  .features__img {
    width: 100%; }
  .features__description {
    padding: 3rem; }
  .features__icon {
    padding: 2rem;
    background-color: #5ec5763a;
    border-radius: 50%;
    color: #5ec576;
    width: 2.4rem;
    height: 2.4rem; }
  .features__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.2px; }
  .features__text {
    font-size: 1.3rem;
    color: #777;
    line-height: 2; }

.operations {
  max-width: 100rem;
  margin: 0 auto; }
  .operations__tab--container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    background-color: white; }
  .operations__tab {
    padding: 1rem 4rem;
    font-size: 1.7rem;
    color: black;
    border-radius: 50rem;
    transform: translateY(-50%); }
    .operations__tab--number {
      font-weight: 600; }
    .operations__tab--1 {
      background-color: #ffcb03; }
    .operations__tab--2 {
      background-color: #5ec576; }
    .operations__tab--3 {
      background-color: #ff585f; }
  .operations__content {
    background-color: white;
    padding: 2.5rem 7rem 6.5rem 7rem;
    row-gap: .5rem;
    column-gap: 3rem;
    align-items: center;
    display: grid; }
  .operations__icon {
    padding: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    grid-column: 1; }
    .operations__icon--1 {
      color: #ffcb03;
      background-color: #ffcd0331; }
  .operations__title {
    font-size: 2.25rem;
    font-weight: 500;
    grid-column: 2; }
  .operations__text {
    font-size: 1.7rem;
    color: #666;
    line-height: 1.8;
    grid-column: 2;
    grid-row: 2; }

.slider {
  margin: 0 auto;
  max-width: 100rem;
  height: 50rem;
  display: flex; }

.testimonial {
  width: 65%;
  position: relative; }
  .testimonial__icon {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    top: -5rem;
    left: -12rem;
    background-color: #5ec5763a;
    color: #5ec576;
    padding: 3rem;
    border-radius: 50%; }

.slide {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .slide__title {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .slide__blockquote {
    font-size: 1.7rem;
    color: #666;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 4rem; }
  .slide__description {
    display: grid;
    column-gap: 2rem;
    margin-left: 3rem;
    grid-template-columns: 6.5rem 1fr; }
  .slide__img {
    border-radius: 50%;
    width: 6.5rem;
    grid-column: 1;
    grid-row: 1 / span 2; }
  .slide__description-name {
    grid-column: 2;
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end; }
  .slide__description-location {
    font-size: 1.5rem;
    color: #666; }

.btn__slider {
  position: absolute;
  border: none;
  background-color: none; }

.header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-inline: 3rem; }

.container {
  margin: 0 auto;
  max-width: 115rem; }

.section {
  border-top: 1px solid #77777757;
  padding: 15rem 3rem;
  transition: all 0.3s; }
