.header {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-inline: 3rem;
}

.container {
    margin: 0 auto;
    max-width: 115rem;
}

.section {
    border-top: 1px solid #77777757;
    padding: 15rem 3rem;
    transition: all 0.3s;
}