.nav {
    padding: 0 6rem;
    display: flex;
    height: 9rem;
    justify-content: space-between;
    align-items: center;

    &__image {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__logo {
        width: 5rem;
        height: 5rem;
    }

    &__name {
        font-size: 2.5rem;
    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;
        padding-inline: 2rem;
        transition: all 0.3s;

        &:last-child {
            background-color: $color-primary;
            padding: 1.5rem 2rem;
            border-radius: 5rem;
            color: black;
        }

        &:hover {
            background-color: $color-primary-darker;
        }

    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-font;
        font-size: 1.5rem;
        margin: 1rem;
        
    }

    

}