.nav {

    padding: 2rem 10rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__logo {
        width: 6rem;
        height: 6rem;
    }

    &__list {
    }

    &__item {
        display: inline-block;
        margin-left: 4rem;

        &:last-child {
            background-color: $color-primary;
            padding: 1.5rem 4rem;
            border-radius: 3rem;
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.8rem;
        text-decoration: none;
        color: black;
    }



}